<template>
  <div class="complaint-form" @click="cancel">
    <div class="complaint-form-modal" @click.stop>
      <h2 class="complaint-form-title">В чем причина вашей жалобы?</h2>

      <div class="complaint-form-group">
        <label class="complaint-form-radio" v-for="reason in reasons" :key="reason.id">
          <input
            type="radio"
            :value="reason"
            v-model="selectedReason"
          />
          {{ reason.name }}
        </label>
      </div>

      <div class="complaint-form-group">
        <textarea class="complaint-form-input" :disabled="!isCustomReason" v-model="otherReason"></textarea>
      </div>

      <div class="complaint-form-buttons">
        <button class="complaint-form-group-button" type="button" :disabled="sendDisabled" @click="send">Отправть</button>
        <button class="complaint-form-group-button" type="button" @click="cancel">Отмена</button>
      </div>
    </div>
  </div>
</template>

<script>
  import {CUSTOM_REASON, REASONS} from "../lib/reasons";

  export default {
    name: 'ComplaintForm',

    data: () =>  ({
      reasons: REASONS,
      selectedReason: null,
      otherReason: ''
    }),

    methods: {
      send() {
        const reason = this.isCustomReason ? this.otherReason : this.selectedReason.name;
        this.$emit('send', reason)
      },

      cancel() {
        this.$emit('cancel')
      }
    },

    computed: {
      sendDisabled() {
        return !this.selectedReason || this.isCustomReason && !this.otherReason
      },

      isCustomReason() {
        return this.selectedReason === CUSTOM_REASON
      }
    }
  }
</script>

<style scoped lang="scss">
  .complaint-form {
    background: rgba(200, 200, 200, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
  }

  .complaint-form-modal {
    background: #fff;
    border-radius: 15px;
    min-height: 250px;
    min-width: 250px;
    z-index: 1000;
    padding: 25px;
  }

  .complaint-form-group {
    margin: 15px 25px;
  }

  .complaint-form-radio {
    display: block;
  }

  .complaint-form-input {
    width: 100%;
    min-height: 50px;
  }

  .complaint-form-buttons {
    margin: 15px 25px;
    text-align: right;
  }

  .complaint-form-group-button {
    margin: 5px;
  }
</style>
