<template>
  <div class="hobby-card">
    <h1 class="hobby-card-title">{{ title }}</h1>

    <h2 class="hobby-card-subtitle">Хобби</h2>

    <input
        class="hobby-card-input"
        type="text"
        placeholder="Введите текст"
        v-if="canEdit"
        v-model="newHobby"
        @keyup.enter="add"
    />

    <ul class="hobby-card-list">
      <li class="hobby-card-list-item" v-for="item in shownItems" :key="item.id">
        <img class="action-button"
             src="../assets/close.png"
             alt="Удалить"
             v-if="canEdit"
             @click="remove(item)"
        />

        <img class="action-button"
             src="../assets/add.gif"
             alt="Добавить себе в список"
             v-if="item.canShare"
             @click="share(item)"
        />

        {{ item.content }}

        <a href="#"
           class="complaint-link"
           v-if="canShare"
           @click.prevent="complain(item)"
        >
          <img src="../assets/warn.png" alt="Пожаловаться"/>
          Пожаловаться
        </a>
      </li>
    </ul>

    <div class="hobby-card-empty-list" v-if="!items.length">Здесь пока ничего нет</div>

    <a class="show-more-link"
       href="#"
       @click.prevent="showMore"
       v-if="showMoreNumber"
    >
      {{ showMoreLabel }}
    </a>
  </div>
</template>

<script>
  import {getWordForm} from "../lib/utils";

  const DEFAULT_ITEMS_NUMBER = 2;

  export default {
    name: 'HobbyCard',

    props: {
      title: String,
      items: Array,
      otherItems: Array,
      canEdit: {
        type: Boolean,
        default: false
      },
      canShare: {
        type: Boolean,
        default: false
      }
    },

    data: () => ({
      isShowAll: false,
      newHobby: ''
    }),

    methods: {
      add() {
        if(!this.newHobby.trim()) return;

        this.$emit('add', this.newHobby.trim());
        this.newHobby = ''
      },

      remove(hobby) {
        this.$emit('remove', hobby)
      },

      showMore() {
        this.isShowAll = true
      },

      share(hobby) {
        this.$emit('share', hobby)
      },

      complain(hobby) {
        this.$emit('complain', hobby);
      },
    },

    computed: {
      canShowMore() {
        return this.items.length > DEFAULT_ITEMS_NUMBER && !this.isShowAll
      },

      shownItems() {
        const items = this.canShowMore ? this.items.slice(0, DEFAULT_ITEMS_NUMBER) : this.items;

        if(this.canShare) {
          const otherItems = this.otherItems.map(it => it.content);
          return items.map(it => Object.assign(it, {
            canShare: !otherItems.includes(it.content)
          }))
        }

        return items
      },

      showMoreNumber() {
        return this.canShowMore ? this.items.length - DEFAULT_ITEMS_NUMBER : 0
      },

      showMoreLabel() {
        const interest = getWordForm(this.showMoreNumber, ['интерес', 'интереса', 'интересов']);
        return `еще ${this.showMoreNumber} ${interest}`
      }
    }
  }
</script>

<style scoped lang="scss">
  .hobby-card {
    max-width: 495px;
    margin: 0 10px 23px;
    overflow: hidden;
  }

  .hobby-card-title,
  .hobby-card-subtitle {
    font-weight: normal;
  }

  .hobby-card-title {
    border-bottom: #666 solid 2px;
    font-size: 18px;
    margin: 15px 0;
    padding-bottom: 3px;
  }

  .hobby-card-subtitle {
    font-size: 15px;
    margin: 24px 0 14px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 54px;
      right: 0;
      border: 1px dotted #000;
    }
  }

  .hobby-card-input {
    height: 20px;
    width: 217px;
    margin: 11px 18px 0;
  }

  .hobby-card-list {
    list-style: none;
    padding: 0;
    margin: 10px 0 1px;

    &:hover {
      .action-button,
      .complaint-link {
        display: inline;
      }
    }
  }

  .hobby-card-list-item {
    font-size: 12px;
    padding: 5px 0 5px 19px;
    white-space: nowrap;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 100px;
      background: linear-gradient(to right, transparent, white);
    }

    .action-button {
      cursor: pointer;
      display: none;
      position: absolute;
      left: 3px;
      top: 6px;
    }
  }

  .hobby-card-empty-list {
    font-size: 12px;
    margin: 20px 19px 0;
  }

  .show-more-link {
    color: coral;
    font-size: 12px;
    margin-left: 19px;
  }

  .complaint-link {
    display: none;
    position: absolute;
    right: 0;
    background: #fff;
    z-index: 1;
    text-decoration: none;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 100%;
      width: 100px;
      background: linear-gradient(to right, transparent, white);
      pointer-events: none;
    }
  }
</style>
