<template>
  <div class="hobby-message"
       :class="{'hobby-message--success': success}"
       ref="container"
  >
    <span class="content"
          :class="{long: isLong}"
          ref="content"
    >
      {{ content }}
    </span>

    <img src="../assets/ok.png" alt="Ok" v-if="success">
    <img src="../assets/warn.png" alt="Error" v-else>

    <span class="details">{{ details }}</span>
  </div>
</template>

<script>
  export default {
    name: 'Message',

    props: {
      content: String,
      details: String,
      success: Boolean
    },

    data: () =>  ({
      containerWidth: 0,
      contentWidth: 0
    }),

    mounted() {
      this.containerWidth = this.$refs.container.offsetWidth;
      this.contentWidth = this.$refs.content.offsetWidth
    },

    computed: {
      isLong() {
        return this.contentWidth > this.containerWidth
      }
    }
  }
</script>

<style scoped lang="scss">
  .hobby-message {
    font-size: 12px;
    line-height: 16px;
    margin: 0 10px 10px 29px;
    overflow: hidden;

    * {
      vertical-align: middle;
    }

    img {
      margin-left: 5px;
    }

    .content {
      position: relative;
      white-space: nowrap;

      &.long {
        display: block;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          width: 100px;
          background: linear-gradient(to right, transparent, white);
        }
      }
    }

    .details {
      color: red;
      margin-left: 3px;
    }

    &--success .details {
      color: green;
    }
  }
</style>
