<template>
  <div id="app" class="hobby-manager">
    <HobbyCard
        title="О себе"
        :items="myItems"
        :can-edit="true"
        @add="addHobby"
        @remove="removeHobby"
    />

    <HobbyCard
        title="Интересы друга"
        :items="friendItems"
        :other-items="myItems"
        :can-share="true"
        @share="shareHobby"
        @complain="showComplaintForm"
    />

    <ComplaintForm
        v-if="complaintItem"
        @send="sendComplaint"
        @cancel="complaintItem = null"
    />

    <Message
        v-for="msg in messages"
        :key="msg.id"
        :content="msg.content"
        :details="msg.details"
        :success="msg.success"
    />
  </div>
</template>

<script>
  import HobbyCard from './components/HobbyCard.vue'
  import ComplaintForm from './components/ComplaintForm.vue'
  import Message from './components/Message.vue'

  import {
    getCurrentUser,
    getHobbies,
    addHobby,
    removeHobby,
    shareHobby,
    sendComplaint
  } from './lib/api'

  import {
    MESSAGE_ADDED,
    MESSAGE_REMOVED,
    MESSAGE_TIMEOUT,
    MESSAGE_UNABLE_ADD,
    MESSAGE_UNABLE_REMOVE,
    MESSAGE_COMPLAIN_SENT,
    MESSAGE_UNABLE_COMPLAIN,
  } from "./lib/messages";

  export default {
    name: 'HobbyManager',

    components: {
      HobbyCard,
      ComplaintForm,
      Message
    },

    data: () => ({
      user: null,
      hobbies: [],
      messages: [],
      messageId: 0,
      complaintItem: null
    }),

    created() {
      getCurrentUser().then(it => this.user = it);
      this.loadHobbies()
    },

    methods: {
      loadHobbies() {
        getHobbies().then(it => this.hobbies = it)
      },

      addHobby(content) {
        addHobby({
          userId: this.user.id,
          content
        })
        .then(() => {
          this.loadHobbies();
          this.showMessage(content, MESSAGE_ADDED)
        })
        .catch(() => {
          this.showMessage(content, MESSAGE_UNABLE_ADD, false)
        })
      },

      removeHobby(hobby) {
        removeHobby(hobby.id).then(() => {
          this.loadHobbies();
          this.showMessage(hobby.content, MESSAGE_REMOVED)
        })
        .catch(() => {
          this.showMessage(hobby.content, MESSAGE_UNABLE_REMOVE, false)
        })
      },

      shareHobby(hobby) {
        shareHobby(hobby.id, this.user.id).then(() => {
          this.loadHobbies();
          this.showMessage(hobby.content, MESSAGE_ADDED)
        })
        .catch(() => {
          this.showMessage(hobby.content, MESSAGE_UNABLE_ADD, false)
        })
      },

      sendComplaint(reason) {
        const hobby = this.complaintItem;
        this.complaintItem = null;

        sendComplaint(hobby.id, this.user.id, reason).then(() => {
          this.loadHobbies();
          this.showMessage(hobby.content, MESSAGE_COMPLAIN_SENT)
        })
        .catch(() => {
          this.showMessage(hobby.content, MESSAGE_UNABLE_COMPLAIN, false)
        })
      },

      showComplaintForm(hobby) {
        this.complaintItem = hobby
      },

      showMessage(content, details, success = true) {
        this.messages.push({id: this.messageId++, content, details, success});
        // hide message
        setTimeout(() => this.messages.shift(), MESSAGE_TIMEOUT)
      }
    },

    computed: {
      myItems() {
        if (!this.user || !this.hobbies.length) {
          return []
        }
        return this.hobbies.filter(it => it.userId === this.user.id)
      },

      friendItems() {
        if (!this.user || !this.hobbies.length) {
          return []
        }
        return this.hobbies.filter(it => it.userId !== this.user.id)
      }
    }
  }
</script>

<style lang="scss">
  body {
    margin: 0;
  }

  .hobby-manager {
    font-family: Arial, sans-serif;
    max-width: 495px;
    margin: auto;
  }
</style>
